{# src/Postfix/IndexBundle/Resources/views/Profile/edit.html.twig #}
 

{% extends "PostfixUserBundle::layout.html.twig" %}
 
{% block title %}
	Gestion du compte | {{ parent() }}
{% endblock %}



{% block body %}
	{% block title_fos %}
		<h1>Éditer mon compte utilisateur</h1>
	{% endblock title_fos %}
	
	{% block fos %}
		{% block fos_user_content %}
			{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
		{% endblock fos_user_content %}
	{% endblock fos %}
{% endblock body %}