{% extends "PostfixUserBundle::layout.html.twig" %}
 
{% block title %}
	Inscription confirmée | {{ parent() }}
{% endblock %}



{% block body %}
	{% block title_fos %}
		<h1>Inscription au site</h1>
	{% endblock title_fos %}
	
	{% block fos %}
		{% block fos_user_content %}
			<p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
			{% if app.session is not empty %}
				{% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
				{% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
			{% endif %}
		{% endblock fos_user_content %}
	{% endblock fos %}
{% endblock body %}