{% extends "PostfixDomainBundle::layout.html.twig" %}
 
{% block title %}
  Categories | {{ parent() }}
{% endblock %}

{% block body %}
<div id="categories" class="row">
	<div class="col-lg-12">
		{% if wo_breadcrumbs() is not empty %}
		<div class="row">
			<div class="col-lg-12">
				<div class="wo_breadcrumb visible-desktop">
					<div>
					{{ wo_render_breadcrumbs() }}
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		<div class="row">
			<div class="col-lg-12">
				<div class="actionbar">
					<ul>
						<li><a href="{{ path('postfix_admin_categories_add') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
						<li><a href="{{ path('postfix_admin_categories_list') }}" class="btn btn-primary"><span class="glyphicon glyphicon-th-list"></span> List</a></li>
					</ul>
				</div>
			</div>
		</div>
		{% block sub_body %}
		{% endblock  %}
	</div>
</div>
{% endblock %}